@{
    ViewData["Title"] = "준비 중";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center; padding: 100px 20px;">
    <h2 style="font-size: 28px; color: hotpink;">염희우 & 염희진 사랑해 ❤️</h2>
    <p style="font-size: 18px; color: deeppink;">아빠는 우리 아이들이 세상에서 제일 좋아 💖</p>
</div>